body {
  background-color: rgb(255, 255, 157);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}


.header {
  text-align: center;
  padding: 30px 10px;
  color: #684430;
}

.header h1 {
  font-size: 2.5rem;
}

.tagline {
  font-style: italic;
  color: #973434;
}


.container {
  max-width: 800px;
  margin: auto;
  background-color: rgb(240, 240, 129);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}


.expense-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.expense-form input {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.expense-form button {
  padding: 12px 20px;
  background-color: #684430;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.expense-form button:hover {
  background-color: #3b1f12;
}


#expenseList {
  list-style: none;
  padding: 0;
}

#expenseList li {
  background: #fff7c2;
  margin-bottom: 10px;
  padding: 12px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}


.delete-btn {
  background: #973434;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #5e1e1e;
}


.back {
  display: inline-block;
  margin: 20px;
  text-decoration: none;
  color: #684430;
  font-weight: bold;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  font-family: 'Kavoon';
  color: #684430;
}


.back-btn {
  text-decoration: none;
  background: #684430;
  color: white;
  padding: 8px 15px;
  border-radius: 10px;
}